$bg: #FFFAF2;
$txt: #151010;
$accent: #340000;
$accent_txt: #EEEEEE;
$subaccent: desaturate($accent, 20%);

.container {
  background-color: $bg;
}


h1,h2,h3,h4,h5,h6 {
  padding-left: 10px;
  padding-bottom: 0px;
  margin: 0px;
  font-family: "Palatino Linotype", "Palatino", "Times New Roman", serif;
}

a.email {
  color: #FFDDDD;
  text-decoration: underline;
}

tr.trip-head {
  background-color: $subaccent;
}

td.signup {
  background-color: white;
}

td.btn {
  text-align: center;
}

td.nobottom {
  padding-bottom: 0 !important;
}

.btn {
  font-family: "Palatino Linotype", "Palatino", "Times New Roman", serif !important;
}

p.ttitle {
  font-size: 2em;
  color: $accent_txt;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 0;
}

p.ttitle-lg {
  font-size: 2em;
  text-align: center;
  color: $accent_txt;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 0;
  line-height: 1.1em;
}

p.tdate {
  text-align: center;
}
li {

  font-family: "Palatino Linotype", "Palatino", "Times New Roman", serif;
}
.apply {
  font-family: "Palatino Linotype", "Palatino", "Times New Roman", serif;
  padding: 1em !important;
  color: $accent_txt;
  text-align: center;
  font-weight: 800;
  font-size: 18pt;
}

img.trip {
  padding: 1em;
}

p {
  font-family: "Palatino Linotype", "Palatino", "Times New Roman", serif;
  color: $txt;
  padding-left: 1em;
  padding-right: 1em;
}

p.date {
  text-align: right;
  font-weight: 700;
  padding-top:  1em;
  padding-right: 1em;
  padding-bottom: 0em;
  margin: 0;
}

.header {
  background-color: $accent;
}

p.caption {
  text-align: right;
  font-size: 12pt;
}

p.subtitle {
  // font-family: "Helvetica Light", "Helvetica", sans-serif;
  color: $accent_txt;
  font-size: 13pt;
  //font-weight: 100;
  //letter-spacing: 0.2em;
  text-align: right;
  background-color: $subaccent;
  padding-bottom: 0.5em;
}

p.tdate {
  text-align: right;
  padding-bottom: 0.5em;
  color: $accent_txt;
  background-color: $accent;
  font-size: 13pt;
}


.interlude {
  background-color: desaturate(darken($bg, 10%),50%);
}

p.interlude {
  font-weight: 100;
  text-align: right;
  padding-bottom: 0.5em;
}

.quoteback {
  font-size: 13pt;
  font-weight: 400;
  background-color: darken($bg, 5%);
}

.content {
  background-color: darken($bg, 1%);
  text-align: justify;
}

tr.signoff {
  background-color: $accent;
}

p.signoff {
  color: $accent_txt;
}

.inside {
  padding-left: 2em;
  padding-right: 0.5em;
  padding-top: 0.5em;
}

.wide {
  padding-top: 0.5em;
}

